@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

body {
  margin: 0;
}

body * {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color);
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

:root {
  --main-color: #054232;
  --enf-color: #06482d;
}

h1 {
  font-size: 36px;
  font-family: "Work Sans", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
}

b {
    font-size: inherit;
}

b,

a {
    color: var(--main-color);
}

p {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

.container {
  /*background-color: rgb(240, 244, 244);*/
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.container {
    max-width: 80rem;
    padding: 1rem;
    margin: 0 auto;
}

.card {
    display: flex;

    border-radius: var(--default-radius);

    box-shadow: var(--default-shadow);

    padding: 2rem;
    gap: 1rem;
}
