.user-panel .balance {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.user-panel .balance p {
  font-size: 32px;
}

.transactions {
  flex-direction: column;
  margin-top: 1rem;
}

.transaction {
  background-color: rgb(204, 195, 182);
  padding: 0.8rem;
  border-radius: 20px;
  grid-template-columns: 0.8fr 1fr;
  width: 70%;
}

.transaction .from {
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
}

.transaction .positive-value {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}

.transaction .negative-value {
  color: var(--enf-color);
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
